<html>
<body>

{{^username}}
<form action="/login" method="post">
    <input type="text" name="username" placeholder="Enter your name."/>
    <button type="submit">Login</button>
</form>
{{/username}}

{{#username}}
<form action="/add-message" method="post"/>
<input type="text" name="message" placeholder="Enter your message."/>
<button type="submit">Submit</button>
</form>
<br>
Messages by {{username}}:
<ol>
    {{#messages}}
    <li>
        {{text}}
        <form action="/delete-message" method="post" style="display: inline-block;">
        <input type="hidden" name="id" value="{{id}}"/>
        <button type="submit">Delete</button>
        </form>
    </li>
    {{/messages}}
</ol>
<br>
<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>

{{/username}}

</body>
</html>